<template>
  <div class="home">
    <div class="bg-gray-300 p-3 m-2 rounded border-2 border-gray-600" v-if="player !== null">{{ player.username }}</div>
    <div v-if="playing && ready">
      playing & ready
    </div>
    <div v-if="playing && !ready">
      playing & not ready
    </div>
    <div v-if="!playing">
      not playing
    </div>
    <div
      class="m-2 p-4 rounded-lg cursor-pointer text-white tracking-wider"
      :class="ready ? 'bg-green-500' : 'bg-red-500'"
      @click="setReady()"
    >Ready</div>
    {{ ready }}
    {{ playing }}
    <div v-if="players">
      <!-- {{ players }} -->
      <div v-for="player in players" :key="player.socketId" class="m-2 p-2 border rounded-lg bg-green-200">
        {{ player.username }}
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  computed: {
    player () {
      return this.$root.$data.player
    },
    players () {
      return Object.values(this.$root.$data.game.players)
    },
    playing () {
      return this.$root.$data.playing
    },
    ready () {
      return this.$root.$data.ready
    }
  },
  methods: {
    setReady () {
      this.$root.$data.ready = !this.$root.$data.ready
      this.$socket.emit('ready', this.$root.$data.ready)
    }
  }
}
</script>
