<template>
  <div class="home" v-if="player">
    <div class="bg-gray-300 p-3 m-2 mb-1 rounded-lg border-2 border-gray-600" v-if="me">{{ me.username }}</div>
    <div class="bg-gray-700 p-3 py-1 m-2 mt-1 rounded border border-gray-600 text-white text-sm">{{ socketId }}</div>
    <hr>
    <!-- countdown -->
    <div class="m-2 p-4 bg-red-500 text-white font-bold text-6xl rounded-lg" v-if="game.countdown !== null">{{ game.countdown }}</div>
    <hr>
    <template v-if="game.playing && player.ready">
      <!-- status -->
      <div class="m-2 flex justify-center" v-if="potatoes.includes(socketId)" @click="pass">
        <img src="@/assets/hot-potato.gif" alt="" width="256">
      </div>
      <div class="m-2 flex justify-center" v-if="!potatoes.includes(socketId)">
        <img src="@/assets/cold-potato.gif" alt="" width="256">
      </div>
      <hr>
    </template>
    <!-- ready button -->
    <div
      v-if="!game.playing"
      class="m-2 p-4 rounded-lg cursor-pointer text-white tracking-wider"
      :class="player.ready ? 'bg-green-500' : 'bg-red-500'"
      @click="setReady()"
    >{{ player.ready ? 'Ready' : 'Click to Play' }}</div>
    <hr>
    <!-- lobby -->
    <div class="m-2">
      <div class="flex flex-row justify-between">
        <div>Connected</div>
        <div>{{ Object.keys(game.attendees).length }}</div>
      </div>
      <div class="flex flex-row justify-between">
        <div>Ready</div>
        <div>{{ Object.values(game.attendees).filter(p => p.ready).length }}</div>
      </div>
    </div>
    <hr>
    <!-- me -->
    <div class="m-2 flex flex-row justify-between">
      <div>ME!</div>
      <div>0:00</div>
    </div>
    <hr>
    <!-- list of players -->
    <div class="m-2">
      <div class="flex flex-row justify-between" v-for="player in game.players" :key="player.username">
        <div>{{ player.username }}</div>
        <div>{{ player.elapsed }}</div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data () {
    return {
      me: null,
      game: {
        attendees: {},
        potatoes: [],
        playing: false
      }
    }
  },
  computed: {
    player () {
      // return this.game.players[this.game.players.findIndex(player => player.socketId === this.$socket.id)]
      return this.game.attendees[this.$socket.id]
    },
    socketId () {
      return this.$socket.id
    },
    potatoes () {
      return this.game.potatoes.map(potato => potato.socketId)
    }
  },
  mounted () {
    //  local event
    this.$socket.on('disconnect', (reason) => {
      // console.log('disconnect', reason)
      this.connected = false
    })
    //  remote events
    this.$socket.on('connected', (game) => {
      // console.log('connected to socket server', game)
      this.game = game
      if (this.me === null || this.me === undefined) {
        this.getPlayer()
      }
      this.connected = true
    })
    //  disconnected
    this.$socket.on('disconnected', (_) => {
      // console.log('disconnected from socket server', this.$socket.id)
      this.connected = false
    })
    //  game
    this.$socket.on('game', (game) => {
      // console.log('game', game)
      this.game = game
      // console.log('this.player', this.player, this.$socket.id)
    })
    //  set-player
    this.$socket.on('set-player', (player) => {
      // console.log('set-player', player)
      // this.player = player
      localStorage.apiToken = player.apiToken
      this.me = player
    })
    //  starting
    this.$socket.on('starting', (game) => {
      // console.log('starting', game)
      this.game = game
    })
    //  start
    this.$socket.on('start', (game) => {
      // console.log('start', game)
      this.game = game
    })
    //  end
    this.$socket.on('end', (game) => {
      // console.log('end', game)
      this.game = game
    })
  },
  methods: {
    setReady () {
      this.$socket.emit('ready', !this.player.ready)
    },
    getPlayer () {
      // console.log('getPlayer', localStorage.apiToken)
      this.$socket.emit('get-player', localStorage.apiToken)
    },
    pass () {
      this.$socket.emit('pass')
    }
  }
}
</script>
